@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes
@using Kztek.Web.Core.Functions

@model PageModel<Kztek.Model.Models.tblExitButtonEvent_Custom>

@{


    var controllers = (List<Kztek.Model.Models.tblAccessController>)ViewBag.Controllers;

}

<div class="page-header">
    <h1>
        Báo cáo sự kiện mở cửa bằng nút nhấn (<span>@Model.TotalItem</span>)
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("ReportExitButtonEvent", "Report", FormMethod.Get, new { id = "frmReportExitButtonEvent" }))
    {
        @Html.Hidden("chkExport", "0")

        <div class="col-md-2 col-xs-12 divboxmd">
            <label class="col-sm-12 control-label no-padding-right">Bộ điều khiển </label>
            @Html.DropDownList("controllerid", new SelectList(ViewBag.Controllers, "ControllerID", "ControllerName", ViewBag.ControllerId),"--Lựa chọn--" ,new { @class = "form-control chosen-select" })
        </div>

        <div class="col-md-3 col-xs-12 divboxmd">
            <label class="col-sm-12 control-label no-padding-right"> Từ ngày  </label>
            <div class="input-group">
                @Html.TextBox("fromdate", (string)ViewBag.fromdateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 divboxmd">
            <label class="col-sm-12 control-label no-padding-right"> Đến ngày </label>
            <div class="input-group">
                @Html.TextBox("todate", (string)ViewBag.todateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 divboxmd">
            @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = "ReportExitButtonEvent" })

            @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = "ReportExitButtonEvent" })

            @Html.Action("Actions", "Home", new { ActionName = "Export", ControllerName = "ReportExitButtonEvent" })
        </div>

    }
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-8">
        <div class="divScroll">
            <table class="table  table-bordered table-hover">
                <thead>
                    <tr class="headerSort">
                        <th class="center">
                            STT
                        </th>
                        <th class="text-left">Thời gian</th>                     
                        <th class="text-left">Bộ điều khiển</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Any())
                    {

                        foreach (var item in Model.Data)
                        {

                            <tr>
                                <td class="text-center">
                                    @item.RowNumber
                                </td>
                                <td class="">
                                    @item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                </td>                 
                                <td>
                                    @{
                                        var objController = controllers != null ? controllers.FirstOrDefault(n => n.ControllerID.ToString() == item.ControllerID.ToLower()) : null;
                                        if (objController != null)
                                        {
                                            @objController.ControllerName

                                        }
                                    }
                                </td>


                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
    @if (Model.Data.Any())
    {
        <div class="col-xs-8">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("ReportExitButtonEvent", "Report", new
           {
               page = x,
               key = ViewBag.KeyWord,
               controllerid = ViewBag.ControllerId,

           }))
            </div>
        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/ExcelColumn.js"></script>
    <script>

        $(document).ready(function () {
            $('#ddlcardgroup').change(function () {
                var str = '';
                var cmd = $(this);
                cmd.parent().find('ul.multiselect-container li.active').each(function () {
                    var _cmd = $(this);
                    str += _cmd.find('input[type=checkbox]').val() + ',';
                });
                $('#cardgroup').val(str);
            });



            //Export excel
            $('button[name=btnExport]').click(function () {
                $('#chkExport').val('1');
                $('#frmReportExitButtonEvent').submit();
            });

            $('button[name=btnFilter]').click(function () {
                $('#chkExport').val('0'); // ko xuat xxcel
                $('#frmReportExitButtonEvent').submit();
            });

            //Xóa 1 bản ghi
            DeleteSubmit(_prefixParkingDomain + '/Report/DeleteEventIn')
        });
    </script>
}





